html {
}

body {
	width: 100%;
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#centered-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#puzzle-editor {
	border-collapse: collapse;
}

.puzzle-cell {
    height: 25px;
    width: 25px;
    border: 1px solid black;
}

.black-square {
	background-color: rgb(0, 0, 0);
}

.white-square {
	position: relative;
}

.white-square:hover {
	background-color: rgb(240, 240, 240);
}

input:focus {
    outline: none;
}

.puzzle-textbox {
	height: 100%;
	width: 100%;
	border: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.0);
	caret-color: transparent;
	position: relative;
}

.puzzle-textbox-label {
	position: absolute;
	font-size: 0.6rem;
	background-color: white;
    top: 0;
    left: 0;
    padding: 0 1px;
    line-hight: 10px;
}

.puzzle-textbox-multi-label {
	position: absolute;
	font-size: 0.6rem;
	background-color: white;
	color: blue;
    bottom: 0;
    right: 0;
    padding: 0 1px;
}

.toggle-button {
	height: 30px;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: rgb(100, 100, 100);
	cursor: pointer;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-button:hover {
	background-color: rgb(240,240,240) !important;
	border: 1px solid rgb(240,240,240) !important;
}

#toggle-mirror-vertical {
	width: 60px;
	margin: 0px 10px 0px 10px;
}

#toggle-mirror-horizontal {
	width: 60px;
	margin: 0px 30px 0px 0px;
}

#toggle-mirror-flip {
	width: 100px;
	margin: 0px 0px 0px 10px;
}


#puzzle-config {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	font-size: 0.75rem;
	color: rgb(100, 100, 100);
}

.input-rc {
	margin: 0 10px 0 10px;
	width: 30px;
	height: 25px;
	text-align: center;
	font-size: 0.75rem;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
	border: none;
}

#input-cols {
	margin-right: 30px;
}

.config-label-rc {
}

#puzzle-config-blurb {
	margin-left: 40px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
}

#puzzle-config-blurb-text {
	font-size: 0.8rem;
	width: 160px;
	text-align: center;
}

#puzzle-config-finish-button {
	width: 100px;
	height: 30px;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: rgb(100, 100, 100);
	cursor: pointer;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
	display: flex;
	align-items: center;
	justify-content: center;	
}

#puzzle-config-finish-button:hover {
	background-color: rgb(240,240,255);
}


.cell-circle-svg {
	position: absolute;
	top: 0;
	left: 0;
}


.cell-circle {
	stroke: black;
	stroke-width: 1px;
	fill: none;
}


#cursor-mode-panel {
	display: flex;
	margin-right: 40px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#cursor-mode-panel-text {
	font-size: 0.8rem;
	width: 160px;
	text-align: center;
}

.cursor-mode-button {
	width: 100px;
	height: 30px;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: rgb(100, 100, 100);
	cursor: pointer;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
	border: 1px solid rgba(0,0,0,0);
	display: flex;
	align-items: center;
	justify-content: center;	
}

.cursor-mode-button:hover {
	background-color: rgb(240,240,240) !important;
}

.cursor-mode-button-selected {
	border: 1px solid green;
    background-color: rgb(245,255,250);
}

.cursor-mode-row-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 7.5px;
}

.cursor-mode-icon {
	margin-right: 10px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cursor-mode-black-icon {
	background-color: black;
}

#cell-circle-icon {
	position: relative;
	top: 0;
	left: 0;
}

.active-row-cell {
	background-color: rgb(255, 255, 220);
}

.cell-highlight-R {
	background-color: rgb(255, 150, 150);
}


.cell-highlight-R:hover {
	background-color: rgb(225, 120, 120);
}

.cell-highlight-O {
	background-color: rgb(250, 175, 35);
}

.cell-highlight-O:hover {
	background-color: rgb(220, 145, 15);
}

.cell-highlight-Y {
	background-color: rgb(255, 255, 100);
}

.cell-highlight-Y:hover {
	background-color: rgb(225, 225, 70);
}

.cell-highlight-G {
	background-color: rgb(150, 255, 150);
}

.cell-highlight-G:hover {
	background-color: rgb(120, 225, 120);
}

.cell-highlight-B {
	background-color: rgb(150, 150, 255);
}

.cell-highlight-B:hover {
	background-color: rgb(120, 120, 225);
}

.cell-highlight-I {
	background-color: rgb(145, 100, 220);
}

.cell-highlight-I:hover {
	background-color: rgb(145, 90, 220);
}

.cell-highlight-V {
	background-color: rgb(255, 125, 255);
}

.cell-highlight-V:hover {
	background-color: rgb(225, 95, 225);
}

.active-cell {
	background-color: rgb(220, 220, 255);
}

.multi-letter-box-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.multi-letter-box {
    overflow: hidden;
    outline: none;
    resize: none;
    height: 25px;
    width: 100%;
}

.multi-letter-box-2 {
    font-size: 1.0rem;
    letter-spacing: 2px;
    line-height: 25px;
}

.multi-letter-box-3 {
    font-size: 0.8rem;
    line-height: 12px;
    letter-spacing: 2px;
}

.multi-letter-box-4 {
    font-size: 0.8rem;
    line-height: 12px;
    letter-spacing: 2px;
}

#multiplayer-config-panel {
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: flex;
    align-items: center;
    justify-content: center;
}

#multiplayer-checkbox-elements {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(245,245,245);
    padding: 8px;
    border-radius: 5px;
}

.multiplayer-checkbox-group {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
}

#checkbox-make-public {
	margin-right: 10px;
}

.multiplayer-panel-label {
	font-size: 0.7rem;
}

.multipalyer-panel-element-group {
	display: none;
    align-items: center;
    justify-content: center;
	margin-left: 25px;
	background: rgb(245,245,245);
    padding: 8px;
    border-radius: 5px;
}

.multiplayer-panel-input {
	margin-left: 10px;
	width: 100px;
    height: 25px;
    text-align: center;
    font-size: 0.7rem;
	font-family: monospace;
	color: darkgreen;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    border: none;
}

.multiplayer-panel-button {
	width: 75px;
    height: 27px;
	margin-left: 10px;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: rgb(100, 100, 100);
	background-color: white;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiplayer-panel-button:hover {
    background-color: rgb(240,240,255);
}